<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт компании Терра</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script>
        function information(image)
        {
            var arr = image.split('.');
            var readdr = "/catalog/" + arr[0];
            window.location.href = readdr;
        }

        function newRecord()
        {
            var readdr = "/new";
            window.location.href = readdr;
        }

        function createFilter(obj)
        {
            var arr = document.getElementsByTagName("TD");
            for(var i = 0; i < arr.length; i++){
                var cl = arr[i].getAttribute('class');
                if((cl == 'category')){
                    if(arr[i].innerHTML == obj){
                        var cat = document.getElementById('checkCategory');
                        cat.removeAttribute('hidden');
                        cat.checked = true;
                        cat.setAttribute('checked','checked');
                    }
                    else{
                        arr[i].parentNode.setAttribute("hidden","true");
                    }
                }
            }
        }

        function sortByStatus(){
            //Схема сортировки. Возможны варианты
            var scheme = ["Новинка","Специальное предложение","Акция"];
            var rows = document.getElementById('catalog').rows;
            var arr0 = [];
            var arr1 = [];
            var arr2 = [];
            var catalog = document.getElementById('catalog');
            var tbody0 = catalog.children[1];
            var tbody1 = tbody0.cloneNode();
            var rows = document.getElementById('catalog').rows;
            for(var i = 1; i < rows.length; i++){
                if(rows[i].children[2].innerHTML == scheme[0]){
                    arr0.push(rows[i].cloneNode(true));
                }
                if(rows[i].children[2].innerHTML == scheme[1]){
                    arr1.push(rows[i].cloneNode(true));
                }
                if(rows[i].children[2].innerHTML == scheme[2]){
                    arr2.push(rows[i].cloneNode(true));
                }
            }
            for(var i = 0; i < arr0.length; i++){
                tbody1.appendChild(arr0[i]);
            }
            for(var i = 0; i < arr1.length; i++){
                tbody1.appendChild(arr1[i]);
            }
            for(var i = 0; i < arr2.length; i++){
                tbody1.appendChild(arr2[i]);
            }
            //Сброс исходного тела таблицы, на случай, если придется его вернуть
            if(tbody1.getAttribute("data-toggle") == null){
                tbody1.setAttribute("data-toggle",encodeURI(tbody0.outerHTML));
            }
            catalog.replaceChild(tbody1,tbody0);
        }

        function sortByPrice(obj){
            if(obj.getAttribute('class') == 'up'){
                obj.setAttribute('class','down');
            }
            else if(obj.getAttribute('class') == 'down'){
                obj.removeAttribute('class');
            }
            else{
                obj.setAttribute('class','up');
            }
            var rows = document.getElementById('catalog').rows;
            var arr0 = [];
            for(var i = 0; i < rows.length; i++){

            }
            var stat = rows[0].innerHTML;
            alert(stat);
        }

        function filterChange(obj)
        {
            obj.setAttribute('hidden','true');
            removeFilter();
        }

        function removeFilter(){
            var arr = document.getElementsByTagName("TD");
            for(var i = 0; i < arr.length; i++){
                var cl = arr[i].getAttribute('class');
                if(cl == 'category'){
                    arr[i].parentNode.removeAttribute("hidden");
                }
            }
        }

    </script>
</head>
<body>
<h1 align="center">{{ready}}</h1>
<div>
{{{table}}}
</div>
<div>
    <button onclick="newRecord()">Добавить новую запись</button>
</div>
</body>
</html>