<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт компании Терра</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script>
        function editData(){
            var addr = window.location.href;
            var arr = addr.split('/');
            var id = arr[arr.length - 1];
            var readdr = "/edit/" + id;
            window.location.href = readdr;
        }

        function returnToCatalog(){
            var readdr = "/";
            window.location.href = readdr;
        }
    </script>
</head>
<body>
<h1 align="center">Информация о товаре</h1>
{{{table}}}
<p>&nbsp;</p>
<button onclick="editData()">Редактировать</button>
<button onclick="returnToCatalog()">Вернуться к каталогу</button>
</body>
</html>