body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table, select, input, form, button, p {
  font-size: 18px;
}

a {
  color: #00B7FF;
}

.field {
  clear:both;
  text-align:right;
  line-height:25px;
  width: 100%;
}
.main {
  float:left;
}

label {
  float:left;
  padding-right:10px;
}

select {
  width: 87%;
}
